
.header,.img_1,.img_2,.img_3,.img_4,.img_5
{
      font-family: 'Lucida Sans';
      border: 5px solid rgb(37, 182, 240);
      height: 100%;
      width: 100%;
}

img
{
      width: 100%;
      height: 100%;  
}

.img_1
{
      grid-area: img_1;
}
.img_2
{
      grid-area: img_2;
}
.img_3
{
      grid-area: img_3;
}
.img_4
{
      grid-area: img_4;
}
.img_5
{
      grid-area: img_5;
}

.container
{
      display: grid;
      gap: 0px;
      grid-template-areas: 
      "img_1 img_1 img_1"
      "img_2 img_3 img_4"
      "img_2 img_3 img_5";
}

